<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <script src="/js/cookie.js"></script> -->
    <!-- <script> checkCookie()</script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Profile Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/desktop.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon_logo.png">
    <!-- add css stylesheet in this and other EJS files -->
</head>

<body>
    <!--top nav bar-->

    <div class="container">
        <!-- nav bar -->
    <%- include ('navbarlogged'); %>
    <div class="profpage">
        <div class="userprofile">
            
            <div class="accname">

                <h1 class="usergradient"><%= username %>'s Profile </h1>


            </div>
            

       <!-- Contenedor -->
       <!-- account drop down -->
        <section class="accordion">
          <div class="tab">
          <div class="tab">
            <input type="checkbox" name="accordion-1" id="cb1">
            <label for="cb1" class="tab__label">Account Details</label>
            <div class="tab__content">
              <li><a href="#">Username: <%= username %></a></li>
              <li><a href="#">Email: <%= email %></a></li>
              <li><a href="/register">Change Password</a></li>
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" name="accordion-1" id="cb2">
            <label for="cb2" class="tab__label">Settings</label>
            <div class="tab__content">
              <a href="">Delete Account</a>
            </div>
          </div>
        </section>

        </div>
        <div class="savedpalette">
            <h1>Saved Palettes</h1>
            <!-- Drop down for palette selection -->
            <select name="favselect" id="favselect">
                <option value="all">All</option>
                <option value="monochromatic">Monochromatic</option>
                <option value="complementary">Complementary</option>
                <option value="analogous">Analogous</option>
            </select>
            <br><br>

            <input type="submit" value="View Palettes">
            <button class="dltpalette" onclick="deleteUserPalettes()">Delete all palettes</button>
            <% if (favouritePalettes && favouritePalettes.hexCodes && favouritePalettes.hexCodes.length > 0) { %>
            <div class="testcontainer">
                    <div <% /* eslint-disable css-propertyvalueexpected */ %> id="test1" style= 'background-color: <%= favouritePalettes.hexCodes[0] %>;'></div>
                    <div <% /* eslint-disable css-propertyvalueexpected */ %> id="test2" style= 'background-color: <%= favouritePalettes.hexCodes[1] %>;'></div>
                    <div <% /* eslint-disable css-propertyvalueexpected */ %> id="test3" style= 'background-color: <%= favouritePalettes.hexCodes[2] %>;'></div>
                    <div <% /* eslint-disable css-propertyvalueexpected */ %> id="test4" style= 'background-color: <%= favouritePalettes.hexCodes[3] %>;'></div>
                    <div <% /* eslint-disable css-propertyvalueexpected */ %> id="test5" style= 'background-color: <%= favouritePalettes.hexCodes[4] %>;'></div>
            </div>
            <% } else { %>
                <p>You have no saved palettes.</p>
            <% } %>

        
            

        </div>

    </div>
    <script src="/js/hamburger.js"></script>
    <!-- <script> 

    function showFileInput() {
        var fileInput = document.getElementById('profilePictureInput');
        fileInput.click(); // Simulate a click on the file input element
}

function previewProfilePicture(event) {
  var input = event.target;
  var reader = new FileReader();
  
  reader.onload = function(){
    var dataURL = reader.result;
    var preview = document.getElementById('preview');
    var image = new Image();
    image.src = dataURL;
    preview.innerHTML = ''; // Clear previous preview, if any
    preview.appendChild(image);
  };
  
  reader.readAsDataURL(input.files[0]);
}
    </script>
    User account dropdown
    <script>
$(document).ready(function() {
    var Accordion = function(el, multiple) {
      this.el = el || {};
      this.multiple = multiple || false;

      var links = this.el.find('.link');
      
      links.on('click', { el: this.el, multiple: this.multiple }, this.dropdown);
    };

    Accordion.prototype.dropdown = function(e) {
      var $el = e.data.el;
      var $this = $(this);
      var $next = $this.next();

      $next.slideToggle();
      $this.parent().toggleClass('open');

      if (!e.data.multiple) {
        $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
      }
    };

    var accordion = new Accordion($('#accordion'), false);
  });

  </script> --> 

</body>
<%- include ('footer'); %>

</html>