<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <script src="/js/cookie.js"></script> -->
    <!-- <script> checkCookie()</script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Profile Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/desktop.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon_logo.png">
    <!-- add css stylesheet in this and other EJS files -->
</head>

<body>
    <!--top nav bar-->
  <div class="container">
        <!-- nav bar -->
    <%- include ('navbarlogged'); %>
    <div class="profpage">
      <div class="savedpalette">
        <h1 class="usergradient"> Welcome <%= username %>! </h1>
      </div>
      <div class="userprofile">
        <div class="accname">
        </div>
      <!-- Contenedor -->
      <!-- account drop down -->
        <section class="accordion">
          <div class="tab">
            <input type="checkbox" name="accordion-1" id="cb1">
            <label for="cb1" class="tab__label">Account Details</label>
            <div class="tab__content">
              <li><a href="#">Username: <%= username %></a></li>
              <li><a href="#">Email: <%= email %></a></li>
              <!-- <button class="changePass" onclick="redirectToLogin()">Change Password</button> -->
            </div>
          </div>
          <div class="tab">
            <input type="checkbox" name="accordion-1" id="cb2">
            <label for="cb2" class="tab__label">Settings</label>
            <div class="tab__content">
              <form method="post" action="/profile/delete">
                <input type="hidden" name="userId" value="<%= id  %>" />
                <button type="submit" class="delete-button">Delete Account</button>
              </form>
            </div>
          </div>
        </section>
      </div>
    </div>
        <h2 class="profileHeading">Saved Palettes</h2>
        <div class="profilePaletteContainer">
          <% if (favouritePalettes && favouritePalettes.length > 0) { %>
            <% for (let i = 0; i < Math.min(4, favouritePalettes.length); i++) { %>
              <div class="palette" id="test<%= i + 1 %>">
                <h3 class="profileHThree"><%= favouritePalettes[i].paletteType %></h3>
                <div class="paletteInside">
                  <% for (let j = 0; j < favouritePalettes[i].hexCodes.length; j++) { %>
                  <div <% /* eslint-disable css-propertyvalueexpected */ %> class="color" style='background-color: <%= favouritePalettes[i].hexCodes[j] %>;'></div>
                  <% } %>
                </div>
                <div>
                  <form method="post" action="/profile/deletePalette">
                    <button class="dltpalette" name="paletteID" value="<%= favouritePalettes[i]._id %>" >Delete Palette</button>
                  </form>
                </div>
              </div>
            <% } %>
          <% } else { %>
            <p>You have no saved palettes.</p>
          <% } %>
        </div>
    
  </div>  
    <script src="/js/hamburger.js"></script>
    <!-- <script>
      function redirectToLogin() {
        window.location.href = "/login";
      }
    </script> -->
</body>
<%- include ('footer'); %>

</html>